@import "./colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Medula+One&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $dark;
  color: white;
}

.centreWrapper {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.leftPanel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  // background-color: $dark2;
}

.rightPanel {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 300px;
  background-color: $dark2;
}
.centerPanel {
  position: absolute;
  left: 300px;
  right: 300px;
  min-width: 300px;
  top: 50px;
  bottom: 0;
}

.botbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: $dark1;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.devToolsBtn {
  border: 0;
  background: $dark2;
  color: white;
  cursor: pointer;
}

// DEBUG
.devtools {
  width: 200px;
  height: 0px;
  background: $dark0;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top: 1px solid white;
  transition: 0.3s ease-in-out;
}
.devtoolsShow {
  height: 300px;
  transition: 0.3s ease-in-out;
}
