@import "colours";
@import "mixins";
@import "vars";

.wrapper {
  position: absolute;
  left: $panelWidth;
  right: $panelWidth;
  bottom: 0;
  top: $topbarHeight;
  background: $base1;
  border: 8px solid $base;
  padding: 10px;
  color: white;
}

.tabbar {
  width: 100%;
  margin-bottom: 10px;
  @include flex;

  h1 {
    font-size: 1.2rem;
    font-family: "Bebas Neue", sans-serif;
    margin: 0 10px;
    color: $base5;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}
.active {
  color: white !important;
}

.overlay {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  transition: 0.5s ease-in-out;
  pointer-events: none;
  z-index: 100;
}
