@import "src/styles/colours";
@import "src/styles/mixins";
@import "src/styles/vars";

@mixin basicTooltip {
  position: absolute;
}

.jobTooltip {
  position: absolute;
  bottom: -112px;
  left: 0;
  width: 100%;
  background: $base2;
  border: 2px solid $base3 !important;
  color: white;
  transition: 0.1s ease-in-out;
  padding: 10px;
  z-index: 2;
  pointer-events: none;

  &::before {
    content: "";
    height: 12px;
    width: 12px;
    border-left: 2px solid $base3;
    border-top: 2px solid $base3;
    background: $base2;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    right: 0;
    top: -8px;
    margin-left: auto;
    margin-right: auto;
  }

  h1,
  h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
  }

  h2 {
    font-size: 0.7rem;
    color: $base4;
    margin: 5px 0;
  }

  p {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.8rem;
    margin-right: 4px;
    margin-top: 5px;
  }

  img {
    height: 14px;
    width: 14px;
    margin-right: 2px;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  span {
    display: flex;
    align-items: center;
  }
}

.labelTooltip {
  position: absolute;
  background: $base;
  color: white;
  border: 2px solid white;
  padding: 4px;
}

.hidden {
  opacity: 0;
}
