@import "src/styles/colours";
@import "src/styles/mixins";
@import "src/styles/vars";

@mixin basicTooltip($width, $top) {
  position: absolute;
  width: $width;
  top: $top;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: $base2 !important;
  border: 2px solid $base3 !important;
  color: white;
  transition: 0.1s ease-in-out;
  z-index: 2;
  padding: 8px 2px 4px 2px;
  pointer-events: none;

  &::before {
    content: "";
    height: 12px;
    width: 12px;
    border-left: 2px solid $base3;
    border-top: 2px solid $base3;
    background: $base2;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    right: 0;
    top: -8px;
    margin-left: auto;
    margin-right: auto;
  }

  h1,
  h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
  }

  h2 {
    font-size: 0.7rem;
    color: $base4;
    margin: 5px 0;
  }

  p {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.7rem;
    margin-right: 4px;
    margin-top: 5px;
  }

  img {
    height: 12px;
    width: 12px;
    margin-right: 2px;
  }
}

.tooltip {
  @include basicTooltip(70%, 73px);

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  span {
    display: flex;
    align-items: center;
  }
}

.labelTooltip {
  position: absolute;
  background: $base;
  color: white;
  border: 2px solid white;
  padding: 4px;
}

.populationTooltip {
  @include basicTooltip(70%, 50px);
  display: flex;
  flex-direction: column;
  height: 185px !important;
  padding: 4px;

  div {
    background: none;
    display: flex;
    flex-direction: row;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  p {
    font-size: 0.6rem;
    padding: 0 !important;
    width: 100% !important;
    margin: 0 !important;
  }

  img {
    height: 14px;
    width: 14px;
    background: $base2;
  }
}

.hidden {
  opacity: 0;
}
