@import "../../global_styles/colors.scss";

.infobox {
  height: 200px;
  width: 100%;
  background: $dark0;
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  font-family: "Secular One", sans-serif;
}
